<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="/css/screen.css">

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script
            src="http://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

        <script src="/js/script.js"></script>

    </head>
    <body>
        <div class="frame">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
