/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";

* { box-sizing: border-box; }

a.indexLink {
    color: #eee;
    text-decoration: none;
}

input[type="submit"], a:not(.indexLink) {
    color: #ccc;
    border: 2px solid #ccc;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    display: inline-block;
    margin: 20px auto;
    top: 50px;
    text-decoration: none;
    background-color: #222;
    @include border-radius(10px);
    vertical-align: middle;
    font-size: 0.8em;
}

input[type="submit"]:hover, a:not(.indexLink):hover {
    color: #ddd;
    background-color: #111;
}


body {
    background-color: #111;
    color:            #eee;
    font-family:      arial;
    text-align:      center;
    font-size:         20px;
    width: 100%;
}

h1 {
    font-size: 2em;
    padding: 20px 0;
}

h2 {
    font-size: 1.4em;
    padding: 15px 0;
}

h3 {
    font-size: 1.2em;
    padding: 10px 0;
}


.control {
    text-align: center;
    padding-top: 20px;
}


.frame {
    margin: 0;
    font-size: 0;
}

table {
    font-size: 20px;

    &.index {
        // border: 1px solid lime;
        width: 100%;

        max-width: 1000px;

        td {
            a {
                display: block;
                padding: 10px 20px;
                // border: 1px solid yellow;
            }
        }

        tr:nth-child(odd) td a {
            // color: #fff;
            background-color: #161616;
        }
    }
}



.cell {
    display:                    block;
    width:                       100%;
    margin:                    0;
    padding: 0;
    border: 1px solid #666;
    font-size: 20px;
}

.cell {

    h2 {
        color: #bbb;
    }

    table {
        display: table;

        td {
            line-height: 40px;
        }

        &.pronouns {
            width: 70px;
        }

        &.conjugation {

            width: 200px;

            td {
                font-weight: bold;
            }
        }
    }
}

.headerCell {
    width: 100%;
    margin: 0 auto;
}

.inlineTable {
    display: inline-block;
    margin: 0;
    padding: 0;
}


table {
    display:     table;
    margin:  20px auto;
}



input[type="text"] {
    width:            100%;
    box-sizing: border-box;
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}



.translations label {
    display: none;
}






@media (min-width: 768px) {

    .cell {
        display: inline-block;
        width:            50%;
        max-width:       none;
    }

    .headerCell {
        width: 100%;
    }
}

@media (min-width: 1000px) {

    .headerCell {
        width: 100%;
    }
}

@media (min-width: 1400px) {

    .cell {
        width: 25%;
    }

    .headerCell {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
