/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

a { color: #ccc}

body {
    background-color: black;
    color:            white;
    font-family:      arial;
    text-align:      center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

#frame {
    margin: auto;
}

.cell {
    display:                    block;
    width:                        90%;
    max-width:                  400px;
    background-color:            #222;
    margin:                      auto;
    padding:                     10px;
}

.cell {

    table {
        display: table;

        td {
            line-height: 40px;
        }

        &.pronouns {
            width: 70px;
        }

        &.conjugation {

            width: 200px;

            td {
                font-weight: bold;
            }
        }
    }
}

.inlineTable {
    display: inline-block;
}


table {
    display:     table;
    margin:  20px auto;
}

input[type="text"] {
    width:            100%;
    box-sizing: border-box;
}





.translations label {
    display: none;
}






@media (min-width: 768px) {

    .cell {
        display: inline-block!important;
        width:            40%;
        max-width:       none;
    }

    .headerCell {
        width: 90%!important;
    }
}

@media (min-width: 1000px) {


}

@media (min-width: 1400px) {

    .cell {
        width: 20%;
    }
}
